@{
    ViewBag.Title = "Página Inicial";
}

@if (TempData["sucesso"] != null)
{
    <div class="alert alert-success">@TempData["sucesso"]</div>
}
@if (TempData["erro"] != null)
{
    <div class="alert alert-danger">@TempData["erro"]</div>
}


<div id="tblHome" class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <label for="data">Inserir Valores:</label>
            <form action="/home/criar" method="post">
                <select name="mes" id="selectMes" class="form-control">
                    <option value=vazio>Selecione o mês</option>
                    <option value="Janeiro">JANEIRO</option>
                    <option value="Fevereiro">FEVEREIRO</option>
                    <option value="Marco">MARÇO</option>
                    <option value="Abril">ABRIL</option>
                    <option value="Maio">MAIO</option>
                    <option value="Junho">JUNHO</option>
                    <option value="Julho">JULHO</option>
                    <option value="Agosto">AGOSTO</option>
                    <option value="Setembro">SETEMBRO</option>
                    <option value="Outubro">OUTUBRO</option>
                    <option value="Novembro">NOVEMBRO</option>
                    <option value="Dezembro">DEZEMBRO</option>
                </select>


                <label style="margin-top:48px;" for="data">Escolha o Ano:</label>
                <select name="ano" id="selectAno" class="form-control">
                    <option value="0">Selecione o ano</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                </select>

                <button type="submit" class="btn btn-default" style="margin-top: 5px; margin-left: 203px">Próximo</button>
            </form>
        </div>
        <div class="col-md-6">
            <label for="data">Criar ou Excluir uma Tabela:</label>
            <form action="home/criarplanilha" method="post">
                <select name="ano" id="selectAno" class="form-control">
                    <option value="0">Selecione o ano</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                </select>
                <button type="submit" class="btn btn-default" style="margin-top: 5px;">Criar</button>

            </form>

            <div style="margin-top:10px;">
                <label for="data">Abrir Planilha:</label>
                <form action="home/abrirplanilha" method="post">
                    <select name="ano" id="selectAno" class="form-control">
                        <option value="0">Selecione o ano</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                    </select>
                    <button type="submit" class="btn btn-default" formtarget="_blank" style="margin-top: 5px; margin-left: 224px ">Abrir</button>
                </form>
            </div>
        </div>
    </div>
</div>

