body {
    margin-right: 60px;
    padding-right: 10px;
    background: #abc7af;
}

table {
    color: black;
    margin: 0px;
    border: solid 1px black;
    overflow: hidden;
    border-collapse: separate;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    flex-shrink: 0;
}

    table th {
        text-align: center;
        font-size: 18px;
        background-color: #4ab051;
        border-top: hidden;
    }

        table tr 
        {
            border-color: black;
        }

        table td 
        {
            padding: 8px;
            font-size: 15px;
            border: solid black 1px;
            text-align: center;
        }

        /*Dar zoom nos td das tabelas*/
        table td {
            max-width: 100%;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.3s;
        }

        table td:hover {
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            background-color:gray;
            color:white;
        }

.total {
    font-size: 18px;
    text-align: center;
}



div.box {
    display: flex;
    justify-content: center;
    display: inline-block;
}

tfoot td {
    background-color: #4ab051;
}

/*Codificacao para pagina impressao*/

@media print {
    @page {
        margin-top: 0px;
        margin-left: 11px;
        box-shadow: 0;
        margin-right: 100px;
        size: landscape;
    }
}
