body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #abc7af;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login {
    width: 400px;
    margin: 0 auto;
}

.log {
    width: 500px;
    margin-left: -20%;
    margin-top: 20px;
}

.edit {
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

div.box {
    display: flex;
    justify-content: center;
    display: inline-block;
}

.btnAlterar {
    margin-left: 147px;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}

#tableCad {
    background-color: white;
}

.body-background-cadastrar {
    background-image: url(../Content/Images/cadastro2.jpg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 70%;
    filter: blur(3px);
    background-repeat: no-repeat;
}

.body-background-editar {
    background-image: url(../Content/Images/segurança.jpg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 60%;
    filter: blur(5px);
    background-repeat: no-repeat;
}

.body-background-login {
    background-image: url(../Content/Images/login2.jpg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 95%;
    opacity: 80%;
    filter: brightness(20%) blur(2px);
    background-repeat: no-repeat;
}

.body-background-Home {
    background-image: url(../Content/Images/home.jpg);
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 80%;
    filter: brightness(50%);
    background-repeat: no-repeat;
}

.tblCadastrar tr th {
    text-align: center;
    font-size: 18px;
    background-color: #4ab051;
    border-top: hidden;
}

.tblCadastrar tr {
    border-color: black;
}

.tblCadastrar td {
    padding: 8px;
    font-size: 15px;
    border: solid black 1px;
    text-align: center;
}

#imgCadastro {
    float: right;
    width: 80px;
    text-align: center;
    margin-right: 16%;
    margin-top: 30px;
}

#Cad {
    text-align: center;
    width: 35%;
    margin: 0px auto;
    color: white;
    font-family: fantasy;
    font-size: 40px;
    letter-spacing: 5px;
    top: 50%;
    position: absolute;
    margin-top: -140px;
    right: 30px;
    text-shadow: -1px -1px 0px black, 3px 3px 0px black, 6px 6px 0px black;
}

#De {
    text-align: center;
    width: 30%;
    margin: 0px auto;
    color: white;
    font-family: fantasy;
    font-size: 50px;
    letter-spacing: 5px;
    top: 50%;
    position: absolute;
    margin-top: -65px;
    right: 50px;
    text-shadow: -1px -1px 0px black, 3px 3px 0px black, 6px 6px 0px black;
}

#Usu {
    text-align: center;
    width: 35%;
    margin: 0px auto;
    color: white;
    font-family:fantasy;
    font-size: 40px;
    letter-spacing: 5px;
    top: 50%;
    position: absolute;
    margin-top: 0px;
    right: 30px;
    text-shadow: -1px -1px 0px black, 3px 3px 0px black, 6px 6px 0px black;
}

#tblLogin {
    margin-top: 25%;
    box-shadow: 0 0 1em black;
}

p#fiscoBr {
    margin-top: 70px;
    color: white;
}

div#tblHome {
    margin-top: 12%;
}

.navb {
    background-color: forestgreen;
    border-color: green;
}

#excluirPlanilha {
    color: red;
}

    #excluirPlanilha:hover {
        color: darkred;
    }

div.fade {
    text-align: left;
}

a.btnHome {
    font-size: 20px;
    height: 80px;
    width: 200px;
    display: inline-block;
    position: relative;
    background-color: #4ab051;
    color: black;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    padding: 0.3em;
    box-shadow: inset 0 0 0.5em black;
}

h3.h3Home {
    font-family: 'Berlin Sans FB';
}

.btnHome:focus,
.btnHome:active:focus,
.btnHome.active:focus,
.btnHome.focus,
.btnHome:active.focus,
.btnHome.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btnHome:hover,
.btnHome:focus,
.btnHome.focus {
    background-color: #39bd3b;
    color: #333;
    text-decoration: none;
    box-shadow: inset 0 0 1em, 0 0 1em;
}

.btnHome:active,
.btnHome.active {
    background-image: none;
    color: white;
    outline: 0;
    -webkit-box-shadow: inset 0 0 1em white;
    box-shadow: inset 0 0 3em white;
}

.tituloPopup {
    font-family: 'Berlin Sans FB';
}

button#btnInserirValores {
    margin-top: 5px;
    margin-left: 203px;
}

label#plusCircle {
    margin-top: 8px;
    font-size: 18px;
}

.table td {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.table th {
    font-size: 20px;
    font-family: Cooper;
}

div.jumpAjustado {
    padding-top: 0px;
}

div.nomePlanilhas {
    font-family: fantasy;
}

span.popupExcluir {
    transform: translate(2px, 20%);
    color: #d9534f;
}

select.selectsHome {
    font-size: 16px;
}

label.selecionaAno {
    font-family: 'Segoe UI';
    font-size: 16px;
}

a.btnAlterarVal {
    font-size: 16px;
}

h3#propostaHome {
    font-family: 'Berlin Sans FB';
    font-size: 28px;
    margin-top: 25px;
}

#btnCadUsuarios {
    font-family: 'Berlin Sans FB';
    font-size: 35px;
    margin-top: 25px;
}

#tituloCadastrar {
    height: 15px;
    width: 400px;
    margin-left:20px;
}

#notfyCadastrar {
    float: right;
    position: absolute;
    margin-left:803px;
    width: 450px;
    height: 50px;
    padding-bottom:20px;
}

#btnCadastrar {
    margin-top:20px;
    margin-bottom: 10px;
    position:relative;
}

#notfyCategoria {
    float: right;
    position: relative;
    margin-right: -150px;
    width: 450px;
}

#categTitulo {
    padding-top: 20px;
    font-family: Cooper;
    width: 100px;
}

#notfyValores {
    float: right;
    position: relative;
    margin-right: -170px;
    width: 450px;
}

#tituloValores {
    padding-top: 20px;
    font-family: Cooper;
    width: 250px;
}

#notfyHome {
    float: right;
    position: relative;
    margin-right: -113px;
    width: 450px;
}

#tituloHome {
    padding-top: 10px;
    font-family: Cooper;
    width: 300px;
}
