
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar Categoria</h2>

<div class="container">
    <div class="jumbotron">
        <table>
            <tr>
                <th>Código</th>
                <th>Categoria</th>
            </tr>
        </table>
    </div>
</div>

