
@{
    ViewBag.Title = "AlterarCategoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
    md_Planilha.mdValores valores = ViewBag.alterarCategoria;
}

@*Botão para volta à pagina anterior 
<a class="btn btn-default" @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer })</a>*@

<div class="container">
    <div class="jumbotron edit">
        <h2>AlterarCategoria</h2>
        <form action="/valores/@valores.Codigo/modificarcategoria" method="post">
            <div class="form-group">
                <label for="Nome">Código:</label>
                <input class="form-control" id="disabledInput" type="text" value="@valores.Codigo" disabled="">
            </div>

            <div class="form-group">
                <label for="data">Categoria:</label>
                <input type="text" class="form-control" id="categoria" value="@valores.Categoria" name="categoria">
            </div>

            <div class="box">
                <a class="btn btn-default" href="/valores/categoria">Voltar</a>
            </div>

            <div class="box">
                <button type="submit" class="btn btn-primary btnAlterar">Alterar</button>
            </div>
        </form>
    </div>
</div>

